<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>

        <title>
            {% block title %}Welcome !{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="../../css/bootstrap.css"/>
            <link rel="stylesheet" href="../../css/bootstrap-responsive.css"/>
            <link rel="stylesheet" href="../../css/style.css"/>
            <link rel="stylesheet" href="../../css/font-awesome.css"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        {% block header %}{% endblock %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="index.php">Ecommerce</a>
                    <div class="nav-collapse collapse">
                        <form class="navbar-form form-search pull-right">
                            <input id="Search" name="Search" type="text" class="input-medium search-query">
                            <button type="submit" class="btn">Rechercher</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list">
                    <li>
                        <a href="{{path('homepage')}}">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{{path('accueil') ~ '.html'}}">
                            Accueil
                        </a>
                    </li>
                    <li>
                        <a href="{{path("ajoutP")}}">
                            Ajouter 
                        </a>
                    </li>
                    <li>
                        <a href="{{path('produit')}}">
                            Produits
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% block body %}{% endblock %}
        {% block footer %}
            <footer id="footer" class="vspace20" style="position: absolute; bottom: 0;text-align:center;width: 100%;">
                <div class="container">
                    <div class="row">
                        <div class="span4 offset1">
                            <h4>Informations</h4>
                            <ul class="nav nav-stacked">
                                <li>
                                    <a href="texte.php">CGV</a>
                                <li>
                                    <a href="texte.php">Mentions légales</a>
                            </ul>
                        </div>

                        <div class="span4">
                            <h4>Notre entrepôt</h4>
                            <p>
                                <i class="icon-map-marker"></i>&nbsp;La madeleine 59100
                            </p>
                            <p>
                                 22 General de Gaulle
                            </p>
                        </div>

                        <div class="span2">
                            <h4>Nous contacter</h4>
                            <p>
                                <i class="icon-phone"></i>&nbsp;Tel: 00 00 00 00 00</p>
                            <p>
                                <i class="icon-print"></i>&nbsp;Fax: 00 00 00 00 00</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span4">
                            <p>&copy; Copyright 2018 - Ecommerce</p>
                        </div>
                    </div>
                </div>
            </footer>
            <script src="../../js/jquery-1.10.0.min.js"></script>
            <script src="../../js/bootstrap.js"></script>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>