{% extends 'base.html.twig' %}

{% set societe = "Enaco" %}
{% set name = "Anouar" %}
{% block header %}
            <div id="welcome">
                <h1><span> Welcome 
                {% if name starts with 'A' %}
                 {{name}}  
                {% endif %}
                  </span></h1>
            </div>

{% include 'default/include.html.twig' %}
{% endblock %}
           

{% block body %}

{% endblock %}

