{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="span12">
            <h2>Connexion</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                        <h4>Pas encore inscrit ?</h4>
                        <em>
                            nous vous invitons à vous inscrire<br/>
                            afin de passer votre commande et de manger équilibré.
                        </em>
                    </div>

                    <div class="span4 offset2">
                        <h4>Inscription</h4>
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" class="btn btn-primary" value="{{ 'registration.submit'|trans }}"/>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>