{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="container">
    <div class="row">
        <div class="span12">
            <h2>Connexion</h2>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span4">
                        <h4>Pas encore inscrit ?</h4>
                        <em>
                            nous vous invitons à vous inscrire<br />
                            afin de passer votre commande et de manger équilibré.
                        </em>
                        <br /><br />
                        <a href="{{ path("fos_user_registration_register")}}" class="btn btn-primary">S'inscrire</a>
                        
                    </div>
                    
                    <div class="span4 offset2">
                        <h4>Connexion</h4>
                       <form action="{{ path("fos_user_security_check") }}" method="post"  >
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}

                            <label for="username">{{ 'security.login.username'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                            <br/>
                            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Connexion" />
                        </form>
                         <a href="{{ path("fos_user_resetting_request")}}" >Mot de passe perdu ?</a>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</div>



