


{% extends 'base.html.twig' %}



{% block body %}

    Les produits :

    {% for produit in produits %}
        <br/>
        {{ produit.nom }} - 
        {{ produit.prix }} Euros - 
        {% if produit.disponible == 1 %}  disponible.   {% else %}  Non disponible. {% endif %}
    {% endfor %}
{% endblock %}