

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}


{% block body %}

{{ form_start(form, {'action': path('ajout'), 'method': 'post'}) }}
{{ form_widget(form) }}
{{ form_end(form) }}

</form>
{% endblock %}